<div id="loading" class="text-center">
    <div>
        <div class="atom-spinner">
            <div class="spinner-inner">
                <div class="spinner-line"></div>
                <div class="spinner-line"></div>
                <div class="spinner-line"></div>
                <div class="spinner-circle">
                    &#9679;
                </div>
            </div>
        </div>
        <div id="loaderText">
            <span class="loader">Loading</span>
        </div>
    </div>
</div>

