<div class="scrollToTopBox" style="display:none;">
    <div class="scrollToTop">
        <button id="scrollToTopButton" class="animateToTopHover">
            <i class="fa fa-angle-up animateUpHover" aria-hidden="true"></i>
           @* <div class="arrow"></div>*@
        </button>
    </div>
</div>

<script src="~/js/scrollToTop.es5.min.js" asp-append-version="true" defer></script>