
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.9;
    background-color: var(--main-background-color) !important;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;

    #loaderText {
        span {
            color: var(--light-int-color-bright) !important;
        }
    }

    .atom-spinner {
        height: 180px;
        width: 180px;

        * {
            box-sizing: border-box;
        }

        .spinner-inner {
            position: relative;
            display: block;
            height: 100%;
            width: 100%;

            .spinner-circle {
                display: block;
                position: absolute;
                color: var(--light-int-color-bright) !important;
                font-size: calc(120px * 0.24);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .spinner-line {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                animation-duration: 1s;
                border-left-width: calc(180px / 25);
                border-top-width: calc(180px / 25);
                border-left-color: var(--light-int-color-bright) !important;
                border-left-style: solid;
                border-top-style: solid;
                border-top-color: transparent;

                &:nth-child(1) {
                    animation: atom-spinner-animation-1 1s linear infinite;
                    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
                }

                &:nth-child(2) {
                    animation: atom-spinner-animation-2 1s linear infinite;
                    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
                }

                &:nth-child(3) {
                    animation: atom-spinner-animation-3 1s linear infinite;
                    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
                }
            }
        }
    }
}

@keyframes atom-spinner-animation-1 {
    100% {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-2 {
    100% {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-3 {
    100% {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}



.loader {
    color: var(--light-int-color-bright) !important;
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    &::after {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        bottom: 10px;
        right: -5px;
        box-sizing: border-box;
        animation: animloader 1s linear infinite;
        color: var(--light-int-color-bright) !important;
    }
}

@keyframes animloader {
    0% {
        box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 10px 0 var(--light-int-color-bright), 20px 0 rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 10px 0 var(--light-int-color-bright), 20px 0 var(--light-int-color-bright);
    }
}
