/*main*/
html {
    font-size: 17px;
    min-height: 100%;
    position: relative;
    /*.is-frozen-xs {
        position: fixed;
        width: 100%;
        min-height: 100vh;
        overflow-y: scroll !important;
    }*/

    body {
        margin-bottom: 60px;
        /*reveal boxes when their visible on the viewport*/
        .invisible {
            opacity: 0 !important;
        }

        .visible {
            transition: 1s all;
        }
        /*line befor new ticket message form*/
        .line95w {
            margin: auto;
            height: 1px;
            width: 95%;
            display: block;
            background-color: var(--main-light-int-color);
            margin: 1.5em auto 1.5em auto;
        }

        .border-bottom1 {
            border-bottom-width: 1px !important;
            border-bottom-style: solid !important;
            border-bottom-color: var(--main-light-int-color) !important;
        }

        .border-top1 {
            border-top-width: 1px !important;
            border-top-style: solid !important;
            border-top-color: var(--main-light-int-color) !important;
        }

        .container {
            max-width: 75%;

            h1, h2, h3, h4, h5, h6 {
                color: var(--title-color) !important;
                -webkit-text-stroke: 0.5px var(--main-light-int-color);
                font-weight: bolder !important;
                text-shadow: 0 0 5px var(--main-light-int-color);
            }

            .text-white {
                color: var(--text-color) !important;
            }

            p, small, span {
                color: var(--text-color) !important;
            }

            .card-body {
                i {
                    color: var(--text-color);
                }
            }

            .text-light, text-white {
                color: var(--text-color) !important;
            }

            label {
                color: var(--label-color) !important;
            }
        }
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;

        body {
            .container {
                max-width: 100%;

                .navbar-toggler {
                    background-color: var(--mobile-revolution-navmenu-bg-color);
                }
            }
        }
    }
}

.navbar, .footer, html {
    background-color: var(--main-dark-tint-color);
}

.mainBackground {
    background-color: var(--main-background-color);
}

.botlogo {
    border-radius: 6px;
    border: 1px solid var(--main-light-int-color);
    width: 40px;
    margin-right: 10px;
}

.statsbox i {
    color: var(--light-int-color-bright);
}

/* particles */
.particles-js-canvas-el {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.form-center, .pageHead {
    /* background-color: #141421;*/
    background-color: var(--main-background-color);
    box-shadow: 0 0 10px 5px var(--main-background-color);
}

.pointerCursor:hover {
    cursor: pointer;
}

/*end main*/


/*guild and setting cards*/
.Cards {
    li {
        display: inline-block;
    }

    .card {
        text-align: justify;
        background-color: var(--main-dark-tint-color);
        transition: 0.5s ease-in-out;
        text-decoration: none;
        color: white;

        &:hover {
            transform: scale(1.05);
        }

        .card-body {
            box-shadow: 0 0 4px 4px var(--main-light-int-color);
            border-radius: 25px;

            .guildIcon {
                border-radius: 90px;
                width: 100px
            }
        }
    }
}


/*icons with spinn class*/
.spinn:before, i {
    transition: 0.3s ease-in-out;
}

a:hover .spinn:before, a:hover .spinn {
    transform: rotate(360deg) scale(1.2);
}


/*Boxes */
.box {
    background-color: var(--main-dark-tint-color);
    box-shadow: 0 0 4px 4px var(--main-light-int-color);
    border-radius: 15px;
    padding: 1em;
    margin: 0 0 1.5em 0;
    overflow: hidden;
}


/*List styles*/
.threeBythreeList, .guildSettingList {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.twooByTwooList {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.inlineList li {
    display: inline-block;
}



/*Form*/

.form-control {
    color: black !important;
    background-color: var(--input-color-white) !important;
    border: 1px solid var(--input-and-label-border-color) !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.form-center {
    display: flex;
    justify-content: center;

    .custom-control-input {
        &:hover {
            & ~ .custom-control-label {
                &::after {
                    background-color: var(--main-dark-tint-color) !important;
                }
            }
        }

        &:focus {
            & ~ .custom-control-label {
                &::before {
                    box-shadow: 0 0 2px 2px var(--main-light-int-color);
                }

                &::after {
                    box-shadow: 0 0 2px 2px var(--main-light-int-color);
                }
            }
        }

        &:checked {
            & ~ .custom-control-label {
                &::before {
                    background-color: var(--light-int-color-bright) !important;
                    border-color: var(--main-dark-tint-color) !important;
                }

                &::after {
                    color: var(--main-dark-tint-color) !important;
                    background-color: var(--main-dark-tint-color) !important;
                }
            }
        }
    }
    /*inputs*/
    .inputWith {
        width: 70%;
    }


    .input-group {
        justify-content: center !important;
        /*.form-control {
            color: black !important;
            background-color: #d1d1d1 !important;
            border: 1px solid #b2b2b2 !important;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
        }*/

        :last-child:has(button), :last-child:has(a) {
            button, a {
                border-top-right-radius: 5px !important;
                border-bottom-right-radius: 5px !important;
            }
        }

        :first-child:has(button), :first-child:has(a) {
            button, a {
                border-top-left-radius: 5px !important;
                border-bottom-left-radius: 5px !important;
            }
        }

        .form-control {
            &:focus {
                box-shadow: 0 0 4px 4px var(--main-light-int-color);
            }
        }

        .input-group-text {
            color: black !important;
            background-color: var(--input-label-color-white) !important;
            border: 1px solid var(--input-and-label-border-color);
        }

        .dropdown {
            .dropdown-toggle {
                color: black !important;
                background-color: var(--input-color-white) !important;
                border-color: var(--input-and-label-border-color) !important;

                &:focus {
                    box-shadow: 0 0 4px 4px var(--main-light-int-color);
                }
            }

            .dropdown-menu {
                background-color: var(--main-dark-tint-color) !important;
                box-shadow: 0 0 1px 1px var(--main-light-int-color);

                li {
                    border-color: white;
                    border: 1px thin black;

                    .text {
                        color: white;
                    }

                    &:hover > * {
                        background-color: var(--main-light-int-color) !important;
                    }
                }

                .selected {
                    .active {
                        background-color: var(--main-light-int-color) !important;
                    }
                }
            }
        }
    }
}

/*button*/
.animationHoverDarkenColorButton {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #00000054;
        transition: all .3s;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }
}


/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    /*width: 15rem;*/
    margin-bottom: 1em;

    &:focus {
        outline: none;

        &::-webkit-slider-thumb {
            border: 1px solid var(--input-label-color-white);
            outline-offset: 0.125rem;
        }
    }
    /***** Chrome, Safari, Opera and Edge Chromium styles *****/
    &::-webkit-slider-runnable-track {
        background-color: var(--input-label-color-white);
        border-radius: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: -12px; /* Centers thumb on the track */
        /*custom styles*/
        background-color: var(--light-int-color-bright);
        height: 2rem;
        width: 1rem;
    }
}


/*Subnavigation (used in guildmember settings)*/
.subContent {
    display: none;
}

.subContentShow {
    display: block;
}


.subnav {
    padding: 0.2em;
    margin: 0.5em;
    width: 110%;
    transition: 0.5s ease-in-out;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px white;

    &:hover {
        /* transform: scale(1.1);*/
        border-bottom: solid 2px var(--light-int-color-bright);
    }
}

.subNavOpen {
    border-bottom: solid 2px var(--light-int-color-bright);
}
/*animating love icon*/
.love {
    display: inline-block;
    position: relative;
    top: .2em;
    font-size: 1.4em;
    color: #e74c3c;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
    to {
        -webkit-transform: scale(1.2);
    }
}

@-moz-keyframes love {
    to {
        -moz-transform: scale(1.2);
    }
}

@keyframes love {
    to {
        transform: scale(1.2);
    }
}


/*Theme Swap*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.themeSwapUl {
    margin-top: 0.25rem !important;
    margin-left: 3rem !important;
}

@media (max-width: 768px) {
    .themeSwapUl {
        margin-top: 0.25rem !important;
        margin-left: 0 !important;
    }
}

#themeSwap {
    opacity: 0;
    position: absolute;

    &:checked + .themeSwap-label .ball {
        transform: translateX(24px);
    }
}

.themeSwap-label {
    background-color: var(--main-background-color);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ball {
        background-color: var( --light-int-color-bright);
        width: 22px;
        height: 22px;
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }

    .fa-moon {
        color: #f1c40f;
    }

    .fa-sun {
        color: #f39c12;
    }
}



/*ticket messages*/

.ticketMessagesBox {
    background-color: var(--main-dark-tint-color);
    border-radius: 10px;
    border: solid 1px var(--main-light-int-color);
    box-shadow: 0 0 1px 1px var(--main-light-int-color);
    width: 90%;
    margin: auto;
    color: var( --text-color);
    padding: 5px 5px 5px 5px;
    /*max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;*/
    /*images for ticket messages*/


    .bubbleWrapper {
        padding: 10px 10px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-self: flex-end;
        color: var(--text-color) !important;
        overflow-wrap: anywhere;

        .inlineContainer {
            display: inline-flex;
            text-align: left;

            .ownBubble {
                min-width: 60px;
                max-width: 700px;
                padding: 14px 18px;
                margin: 6px 8px;
                background-color: #5b53777a;
                border-radius: 16px 0 16px 16px;
                border: 1px solid #5b53777a;
            }

            .otherBubble {
                min-width: 60px;
                max-width: 700px;
                padding: 14px 18px;
                margin: 6px 8px;
                background-color: #6c8ea47b;
                border-radius: 0 16px 16px 16px;
                border: 1px solid #6c8ea47b;
            }

            .own {
                flex-direction: row-reverse;
            }


            .ticketMessageImage {
                max-width: 500px;
                height: auto;
            }

            @media (max-width: 900px) {
                .ticketMessageImage {
                    max-width: 300px;
                    height: auto;
                }
            }

            @media (max-width: 450px) {
                .ticketMessageImage {
                    max-width: 250px;
                    height: auto;
                }
            }

            @media (max-width: 390px) {
                .ticketMessageImage {
                    max-width: 150px;
                    height: auto;
                }
            }
        }
    }


    .inlineIcon {
        width: 20px;
        object-fit: contain;
    }

    .own {
        align-self: flex-end;
    }

    .other {
        align-self: flex-start;
    }

    span.own,
    span.other {
        font-size: 14px;
        color: grey;
    }
}





/*Discord Embed*/
.messageContent {
    text-align: left;
}

.embedPreview {
    margin-bottom: 5px;

    .wrapper {
        display: flex;
        max-width: 520px;

        .side-colored {
            width: 4px;
            border-radius: 3px 0 0 3px;
            background: var( --light-int-color-bright) !important;
        }

        .embed {
            border-radius: 0 3px 3px 0;
            background: rgba(46, 48, 54, 0.3);
            border-color: rgba(46, 48, 54, 0.6);
            display: flex;
            padding: 8px 10px;
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            background-color: var(--main-dark-tint-color) !important;
            text-align: left;

            .card-block {
                padding: 0;
                display: flex;
                margin-bottom: 10px;
            }

            a {
                background: var( --light-int-color-bright) !important;
            }

            img.embed-thumb {
                max-height: 80px;
                max-width: 80px;
                border-radius: 3px;
                flex-shrink: 0;
                width: auto;
                -o-object-fit: contain;
                object-fit: contain;
                margin-left: 20px;
            }

            .embed-description {
                color: var(--text-color) !important;
            }

            .embed-footer {
                font-size: 12px;

                span {
                    color: var(--label-color);
                }
            }

            .embed-inner {
                .embed-title {
                    color: var(--text-color) !important;
                }

                .embed-author {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    .embed-author-name {
                        display: inline-block;
                        font-weight: 600;
                        font-size: 14px;
                        color: var(--text-color) !important;
                    }
                }

                img.embed-author-icon {
                    margin-right: 9px;
                    width: 20px;
                    height: 20px;
                    -o-object-fit: contain;
                    object-fit: contain;
                    border-radius: 50%;
                }

                .fields {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    box-lines: miltiple;
                    margin-top: -10px;

                    .field {
                        flex: 0;
                        box-flex: 1;
                        padding-top: 10px;
                        max-width: 506px;
                        min-width: 100%;

                        .inline {
                            box-flex: 1;
                            flex: 1;
                            min-width: 150px;
                            flex-basis: auto;
                        }

                        .field-name {
                            color: var(--text-color) !important;
                            font-size: 14px;
                            margin-bottom: 4px;
                            font-weight: 600;
                        }

                        .field-value {
                            color: var(--label-color);
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.1em;
                            white-space: pre-wrap;
                            margin-top: 6px;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
}


/*--------------------------------------*/




/*disable textbox shadow for open tickets*/
.newTicketMessage {
    .form-control {
        &:focus {
            box-shadow: none !important;
        }
    }
}
/*----------------*/
