#pageNav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

.nav-link {
    transition: 0.3s ease-in-out;
    margin: 0 0 0 10px;

    &:hover {
        transform: scale(1.1);
        background-color: var(--dark-tint-color);
        border-radius: 10px;
        box-shadow: 0 0 1px 1px var(--main-light-int-color);
    }
}

@media (max-width: 576px) {
    .nav-link {
        transition: 0.3s ease-in-out;
        margin: 0 0 0 5px;

        &:hover {
            transform: scale(1.05);
            background-color: transparent;
            box-shadow: none;
            color: var(--main-light-int-color) !important;
        }
    }
}
