
.scrollToTop {
    text-align: center;
    position: fixed;
    right: 3%;
    bottom: 2%;
    transition: 0.5s ease-in-out;
    z-index: 7;

    button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--main-dark-tint-color) !important;
        box-shadow: 0 0 2px 2px var(--main-light-int-color);
        padding: 0;
        border: none;
        transition: 0.5s ease-in-out;

        &:hover {
            background-color: var(--main-dark-tint-color) !important;
            box-shadow: 0 0 2px 2px var(--main-light-int-color);
            transform: scale(1.06);
        }

        i {
            font-size: 1.8em;
            color: var(--light-int-color-bright);
            margin: 0 0 2px 0;
            padding: 0;
        }
    }
}


/*-------------------------*/
/*

div.arrow {
    width: 3.5vmin;
    height: 3.5vmin;
    box-sizing: border-box;
    position: absolute;
      left: 25%;
    top: 35%;
    transform: rotate(-45deg);

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-width: .8vmin .8vmin 0 0;
        border-style: solid;
        border-color: var(--light-int-color-bright);
        transition: .2s ease;
        display: block;
        transform-origin: 100% 0;
    }


    &:after {
        content: '';
        float: left;
        position: relative;
        top: -100%;
        width: 100%;
        height: 100%;
        border-width: 0 .8vmin 0 0;
        border-style: solid;
        border-color: var(--light-int-color-bright);
        transform-origin: 100% 0;
        transition: .2s ease;
    }

    &:hover::after {
        transform: rotate(45deg);
        border-color: var(--light-int-color-bright);
        height: 100%;
        left: -2px;
        top: -23px;
    }

    &:hover::before {
        border-color: var(--light-int-color-bright);
        transform: scale(.8);
    }
}*/