.progress {
    height: 3px !important;
    background-color: var(--light-int-color-bright) !important;
    transition: all linear 0.1s;
    min-width: 1%;
    margin-top: -1px;
}

.content {
    width: 100%;
    height: 3px !important;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
