:root {
    --title-color: black;
    --text-color: white;
    --label-color: #d3d3d3;
    --main-background-color: #141421;
    --main-dark-tint-color: #1a1a2c;
    --main-light-int-color: #01ccd380;
    --light-int-color-bright: #00f6ff;
    --dark-tint-color: #141421;
    --input-color-white: #d1d1d1;
    --input-label-color-white: #d1d1d1;
    --input-and-label-border-color: #b2b2b2;
    --breadcrumbs-color: #00f7ffcd;
    --mobile-revolution-navmenu-bg-color: #141421;
}
