:root {
    --title-color: black;
    --text-color: black;
    --label-color: #343434;
    --main-background-color: #FFFFFF;
    --main-dark-tint-color: #f6f6f6;
    --main-light-int-color: #009197;
    --light-int-color-bright: #009197;
    --dark-tint-color: #dedede;
    --input-color-white: #d1d1d1;
    --input-label-color-white: #d1d1d1;
    --input-and-label-border-color: #b2b2b2;
    --breadcrumbs-color: #009197;
    --mobile-revolution-navmenu-bg-color: #555555;
}


/*:root {
    --title-color: black;
    --text-color: black;
    --label-color: #343434;
    --main-background-color: #fcfcfc;
    --main-dark-tint-color: #d3d3d3;
    --main-light-int-color: #009197;
    --light-int-color-bright: #009197;
    --dark-tint-color: #a5a5a5;
    --input-color-white: #d1d1d1;
    --input-label-color-white: #d1d1d1;
    --input-and-label-border-color: #b2b2b2;
    --breadcrumbs-color: #009197;
    --mobile-revolution-navmenu-bg-color: #555555;
}*/
